$bg-color: #606265;
$modal-color: #ebeced;
$primary-text-color: #262d2c;
$secondary-text-color: #d66a3a;
$fb-color: #405896;
$tw-color: #1da1f2;
$rd-color: #000000;

$share-fb: "../img/facebook-logo.svg";
$share-tw: "../img/twitter-logo.svg";
$share-rd: "../img/reddit-logo.svg";