@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273c56;
    color: #ffffff;
    font-size: 16px;
    line-height: 27px;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

.results__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    max-width: 100%;
    height: 537px;
    padding: 80px 126px;
    background-color: #152436;
    box-shadow: 0 36px 24px -29px rgba(13, 29, 49, 0.62);
    border-radius: 10px;
}

.results__heading{
    font-size: 1.625rem;
    font-weight: 700;
}

.results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result__count{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.result__count_text{
    font-size: 1.125rem;
}

.results__notice a{
    color: #456aff;
    text-decoration: none
}

@media (max-width: 860px){

    .results__container{
        height: auto;
    }

    .results{
        padding: 40px 0
    }

    .results__container{
        padding: 20px;
    }

    .results{
        grid-template-columns: 1fr;
    }
}