@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $primary-color;
    }
}