@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

:root{
    --bg-color: #f4f4f4;
    --primary-color: #2e2e2e;
    --secondary-color: #20c792;
    --default-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    height: 100vh;
}

.card{
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1012px;
    width: 100%;
    min-height: 556px;
    padding: 60px 60px 100px;
    box-shadow: 0 20px 60px -25px rgba(46, 46, 46, 0.22);
}

.card__header{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e6ed;
}

.card__info