@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f8fc;
    color: #646a7c;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 100px 0;
    font-family: 'Muli', sans-serif;
}

a, a:hover{
    color: #ffffff;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1291px;
    width: 100%;
    padding: 0 15px;
}

.stats{
    position: relative;
    width: 100%;
    height: 297px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 24px 50px -33px rgba(0, 29, 147, 0.25);
    margin-bottom: 100px;
}

.stats__item{
    flex-direction: column;
    width: 33.3%;
}

.stats__item i{
    color: #646a7c;
    font-size: 20px;
}

.stats__heading{
    color: #646a7c;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;  
    margin: 18px 0 5px;
}

.stats__value{
    color: #090e1e;
    font-size: 18px;
    font-weight: 700;
}

.modal{
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 552px;
    background-color: #090e1e;
    border-radius: 5px;
    box-shadow: 0 24px 50px -33px rgba(0, 29, 147, 0.25);
}

.modal__heading{
    color: #c1c7d9;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.modal__lead{
    color: #c1c7d9;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 65px;
}

form{
    flex-direction: row;
    width: 100%;
}

.form__group{
    flex-direction: column;
    width: 33.3%;
}

.form__group i{
    font-size: 20px;
}

.form__group label{
    position: relative;
    color: #646a7c;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 0;
}

.form__group .label--select{
    width: 258px;

}

.form__group .label--input{
    width: 175px;
}

.form__group select{
    width: 258px;
    height: 45px;
    color: #090e1e;
    font-size: 18px;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 3px;
    margin-top: 18px;
    background-color: #eaefff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form__group .label--select::before{
    font-family: "Font Awesome 5 Free";
    content: '\f078';
    position: absolute;
    top: 70px;
    right: 20px;
}

.form__group input{
    width: 175px;
    height: 45px;
    color: #090e1e;
    font-size: 18px;
    font-weight: 700;
    padding: 0 15px;
    border: none;
    border-radius: 3px;
    margin-top: 18px;
    background-color: #eaefff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form__group .label--input::before{
    content: 'm2';
    color: #646a7c;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 70px;
    right: 20px;
    text-transform: lowercase;
}

.modal__btn{
    padding-top: 94px;
}

.modal__btn .btn:first-child{
    margin-right: 25px;
}

.btn{
    display: inline-block;
    width: 298px;
    height: 70px;
    color: #646a7c;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #646a7c;
}

.btn--save{
    color: #ffffff;
    background-color: #23a4a2;
    border: none;
}

.btn_round{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
}

.btn_round--edit {
    position: absolute;
    right: 50px;
    bottom: -40px;
    color: #ffffff;
    font-size: 30px;
    background-color: #23a4a2;
    box-shadow: 0 21px 18px -8px rgba(0, 29, 147, 0.18);
}

.btn_round--close{
    position: absolute;
    right: 50px;
    bottom: -40px;
    color: #090e1e;
    font-size: 30px;
    background-color: #ffffff;
    box-shadow: 0 21px 38px -8px rgba(0, 29, 147, 0.18);
}


@media (max-width: 991px){

    .stats{
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
    }

    .stats__item{
        width: 100%;
        padding: 20px 0;
    }

    .modal{
        height: auto;
        padding: 40px;
    }

    form{
        flex-direction: column;
    }

    .modal__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 40px;
    }

    .modal__btn .btn:first-child{
        margin-bottom: 20px;
        margin-right: 0;
    }
}